.containner{
	padding-top: 20px;
}
.shadow{
	height: 500px;
	background: url('../img/table_shadow.png') no-repeat;
}
.shadow .table{
	position: relative;
	left: 29px;
	top: 26px; 
	height: 500px;
	width: 500px;
	background: url('../img/table_body.png') no-repeat;
}
.shadow .table .platter{
	float: left;
	height: 500px;
	width: 364px;
	position: relative;
	left: 25px;
	top: 3px;
	background: url('../img/table_platter.png') no-repeat;
}
.shadow .table .platter .logo{
	height: 326px;
	width: 364px;
	position: relative;
	left: 19px;
	top: 19px;
	background: url('../img/techniques.png') no-repeat;
}
.shadow .table .tonearm{
	position: relative;
	left: -75px;
	top: -33px;
	float: left;
	-webkit-transform: rotate(30deg);
	float: left;
	height: 500px;
	width: 102px;
	background: url('../img/table_tonearm.png') no-repeat;
}
