body{
	background-image: url('../image/bg.png');
}

audio{
	display: none;
}
iframe{
	display: none;
}
.left{
	margin-top: 47px;
	margin-left: -4px;
	padding-left: 27px;
	border: 2px solid #AAA9A9;
	border-radius: 5px 5px; 
	box-shadow: 0 0 45px;
}
.left dl dd{
	margin-bottom: 20px;
}
.left #play , .left #stop{
	margin: 5px;
	margin-left: 35px;
}
.left .btn-group{
	margin-left: 10px;
}
.left .btn-small{
	margin: 5px 0 0 35px;
}
.left #frequency, .left #q, .left #filtergain{
	width: 160px;
}
.left #frequency{
	margin-left: 25px;
}

.right{
	margin-top: 47px;
	padding: 0 15px;
	border: 2px solid #AAA9A9;
	border-radius: 10px; 
	box-shadow: 0 0 25px #fff;
	background: #C8C8C8;
}
.right .musiclist{
	cursor: pointer;
	padding: 5px;
	height: 55px;
	margin: 10px auto; 
}
.right .musiclist:hover{
	background: #A09E9F;
}
.shadow{
	margin-top: 20px;
	height: 500px;
	background: url('../image/table_shadow.png') no-repeat;
}
.shadow .table{
	position: relative;
	left: 30px;
	top: 28px; 
	height: 500px;
	width: 500px;
	background: url('../image/table_body.png') no-repeat;
}
.shadow .table .platter{
	float: left;
	height: 364px;
	width: 364px;
	position: relative;
	left: 25px;
	top: 3px;
	background: url('../image/table_platter.png') no-repeat;
}
.shadow .table .platter .logo{
	cursor: pointer;
	height: 326px;
	width: 326px;
	position: relative;
	left: 19px;
	top: 19px;
	background: url('../image/onlinedj.png') no-repeat;
}
.shadow .table .tonearm{
	position: relative;
	left: -75px;
	top: -33px;
	float: left;
	-webkit-transform: rotate(30deg);
	float: left;
	height: 500px;
	width: 102px;
	background: url('../image/table_tonearm.png') no-repeat;
}
.shadow .table .startstop{
	position: relative;
	left: 13px;
	top: 323px;
	width: 46px;
	height: 36px;
	background: url('../image/table_startstop.png') no-repeat;
}
.shadow .table .volumedown{
	position: relative;
	left: 66px;
	top: 309px;
	width: 25px;
	height: 7px;
	background: url('../image/table_volume_down.png') no-repeat;
}
.shadow .table .volumeup{
	position: relative;
	left:95px;
	top: 316px;
	width: 25px;
	height: 7px;
	background: url('../image/table_volume_up.png') no-repeat;
}
.shadow .table .cover{
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px; 
	height: 413px;
	width: 500px;
}
.shadow .table .cover .startstop{
	position: absolute;
	left: 13px;
	top: 323px;
	width: 46px;
	height: 36px;
	background: none;
}
.shadow .table .cover .volumedown{
	position: absolute;
	left:66px;
	top: 352px;
	width: 25px;
	height: 7px;
	background: none;
}
.shadow .table .cover .volumeup{
	position: absolute;
	left:95px;
	top: 351px;
	width: 25px;
	height: 7px;
	background: none;
}

